body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  background: #28dfff;
}

.panel {
  width: 20%;
  background-color: #f0f0f0;
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: 90vh; /* Full-height panel */
}

.content {

}

.content.p {
  background: #9f43ff;
}

.content {
  flex: 1;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-top: 0;
}
